<header>
    <h1>Simple Pricing.</h1>
    <h1>Try before you buy.</h1>
</header>
<main>
  <div>
    <table id="personal">
        <tr>
            <th>Personal</th>
        </tr>
        <tr>
            <td id="five">$5</td>
        </tr>
        <tr>
            <td>
                per month
            </td>
        </tr>
    </table>
    <table id="smallbusiness">
        <tr>
            <th>Small Business</th>
        </tr>
        <tr>
            <td id="twentyfive">$25</td>
        </tr>
        <tr>
            <td>
                per month
            </td>
        </tr>
    </table>
    <table id="enterprise">
        <tr>
            <th>Enterprise</th>
        </tr>
        <tr>
            <td id="fortyfive">$25</td>
        </tr>
        <tr>
            <td>
                per month
            </td>
        </tr>
    </table>
  </div>
  <div id="facts">
    <table>
        <tr>
            <td>Free Setup</td>
        </tr>
        <tr>
            <td>Custom sub-domain</td>
        </tr>
        <tr>
            <td>
                Standard customer support
            </td>
        </tr>
        <tr>
            <td>1GB file storage</td>
        </tr>
        <tr>
            <td>1 database</td>
        </tr>
        <tr>
            <td>
                Unlimited bandwidth
            </td>
        </tr>
        <tr>
            <td>
                <button type="choose">Choose</button>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Free Setup</td>
        </tr>
        <tr>
            <td>Use your own domain</td>
        </tr>
        <tr>
            <td>
                Standard customer support
            </td>
        </tr>
        <tr>
            <td>10GB file storage</td>
        </tr>
        <tr>
            <td>5 databases</td>
        </tr>
        <tr>
            <td>
                Unlimited bandwidth
            </td>
        </tr>
        <tr>
            <td>
                <button type="choose">Choose</button>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Free Setup</td>
        </tr>
        <tr>
            <td>Use your own domain</td>
        </tr>
        <tr>
            <td>
                Premium customer support
            </td>
        </tr>
        <tr>
            <td>Unlimited file storage</td>
        </tr>
        <tr>
            <td>25 databases</td>
        </tr>
        <tr>
            <td>
                Unlimited bandwidth
            </td>
        </tr>
        <tr>
            <td>
                <button type="choose">Choose</button>
            </td>
        </tr>
    </table>
  </div>
  <div id="deets">
    <ul>
      <li><h3>GET STARTED TODAY</h3></li>
      <li><h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6></li>
    </ul>
    <ul>
      <li><h3>24/7 CUSTOMER SUPPORT</h3></li>
      <li><h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6></li>
    </ul>
  </div>
  <div id="other">
    <ul>
      <li><h3>PAY MONTHLY</h3></li>
      <li><h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6></li>
    </ul>
    <ul>
      <li><h3>CANCEL YOUR PLAN ANYTIME</h3></li>
      <li><h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6></li>
    </ul>
  </div>
</main>
