<!DOCTYPE html>
<html>
  <head>
    <title>Pricing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="clearfix">
    <a href="#" id="logo">YOUR LOGO</a>
    <ul>
      <li><a href="#">Home</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
  </nav>
    <%= yield %>
    <footer>
      <aside>
        <h6>Try now &#160;</h6>
      </aside>
        <h6>for 14 days. No credit card required. &#160;</h6>
      <h6>Header courtousy of the interweb.</h6>
    </footer>
  </body>
</html>
